@{
    ViewBag.Title = "About";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="~/Styles/GlobalCssProperties/TextWrapImage.css" />
</head>
<body>
    <section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="-link">About Us</a></li>
                        <li class="list-inline-item text-white h3 font-secondary"></li>
                    </ul>
                    <p class="text-lighten">Our courses offer a good compromise between the continuous assessment favoured by some universities and the emphasis placed on final exams by others.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /page title -->
    <!-- about -->
    <section class="section" data-aos="zoom-in-up">
        <div class="container">
            <div class="description-container">
                <img src="https://i.pinimg.com/originals/cc/8c/a1/cc8ca1eb67567d171405d85ec5915160.png" alt="" class="img-responsive floating-image right">
                <h3 style="text-decoration: underline solid Green 5px; font-size:36px">INTRODUCTION</h3>
                <p>
                    West Bengal University of Technology Act 2000, under the West Bengal Act XV of 2000, was passed by the West Bengal Legislature and published in the Calcutta Gazette ( Extraordinary vide publication No 146 - L dated 20th July 2000. It started functioning with the assumption of office of the first Vice-Chancellor on 15th Kotibarsha Institute of Technology and Management Affiliated to West Bengal January, 2001.
                </p>

                <p>
                    Kotibarsha Institute of Technology and Management Affiliated to West Bengal University of Technology started on 28th June, 2006 at Dakshin Dinajpur District with the noble efforts of the mass people of this
                    locality. The College Kotibarsha Institute of Technology and Management is promoted by Knocks Educare Foundation, Specifically to Cater to the growing needs of Management & IT Education in India. It is the prime constituent of its academic complex at Panjaripara, Near Buniadpur, District - Dakshin Dinajpur ( North Bengal ), West Bengal. Over a period of time KITM has been catering to the needs of various segments of IT & Management education aspirants. <br /> <strong>The flagship Programmes of the college Include -</strong>
                </p>
                <div class="col-12 px-0">
                    <div class="row">
                        <div class="">
                            <ul class="list-styled">
                                <li data-aos="fade-right" data-aos-duration="200"><strong>BCA(Honours)</strong></li>
                                <li data-aos="fade-right" data-aos-duration="300"><strong>BBA(Honours)</strong></li>
                                <li data-aos="fade-right" data-aos-duration="400"><strong>BBM(Honours) Hotel And Hospitality Management</strong></li>
                                <li data-aos="fade-right" data-aos-duration="500"><strong>BBM(Honours) Hospital Management</strong></li>
                                <li data-aos="fade-right" data-aos-duration="600"><strong>B.Sc Media Science</strong></li>
                                <li data-aos="fade-right" data-aos-duration="700"><strong>M.SC Information Science</strong></li>
                                <li data-aos="fade-right" data-aos-duration="800"><strong>1 Year Autonomous Diploma in Hotel Management</strong></li>
                                <li data-aos="fade-right" data-aos-duration="900"><strong>3 Year Autonomous Diploma in Hotel Management</strong></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /about -->
    <!-- funfacts -->
    <section class="section-sm bg-primary" data-aos="zoom-in" data-aos-duration="500">
        <div class="container">
            <div class="row">
                <!-- funfacts item -->
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <div class="text-center">
                        <h2 class="count text-white" data-count="60">0</h2>
                        <h5 class="text-white">TEACHERS</h5>
                    </div>
                </div>
                <!-- funfacts item -->
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <div class="text-center">
                        <h2 class="count text-white" data-count="50">0</h2>
                        <h5 class="text-white">COURSES</h5>
                    </div>
                </div>
                <!-- funfacts item -->
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <div class="text-center">
                        <h2 class="count text-white" data-count="1000">0</h2>
                        <h5 class="text-white">STUDENTS</h5>
                    </div>
                </div>
                <!-- funfacts item -->
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <div class="text-center">
                        <h2 class="count text-white" data-count="3737">0</h2>
                        <h5 class="text-white">SATISFIED CLIENT</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /funfacts -->
    <!-- success story -->
    <section class="section bg-cover" data-background="https://i.pinimg.com/originals/28/9b/13/289b1345a3ac514ba208e576ad9efa1a.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-4 position-relative success-video">
                    <a class="play-btn venobox" href="https://youtu.be/nA1Aqp0sPQo" data-vbtype="video">
                        <i class="ti-control-play"></i>
                    </a>
                </div>
                <div class="col-lg-6 col-sm-8" data-aos="fade-up" data-aos-duration="1000">
                    <div class="background-white p-5">
                        <h2 class="section-title" data-aos="fade-left" data-aos-duration="400">Success Stories</h2>
                        <p data-aos="fade-right" data-aos-duration="600">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat.</p>
                        <p data-aos="fade-right" data-aos-duration="600">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /success story -->
    <!-- teachers -->
    <section class="section">
        <div class="container">
            <div class="col-12 mb-4">
                <h2 class="mb-3"data-aos="fade-left">Why KITM ?</h2>
                <div class="col-12 px-0">
                    <div class="row">
                        <div class="">
                            <ul class="list-styled">
                                <li data-aos="fade-up" data-aos-duration="500"><strong>Quality Education :</strong> College having a quality policy to create a center of excellence for imparting state of the art education that spells success for students. 2 Only Management institute from Dakshin Dinajpur-Malda-Uttar Dinajpur region of.</li>
                                <li data-aos="fade-up" data-aos-duration="550">Only Management institute from Dakshin Dinajpur-Malda-Uttar Dinajpur region of West Bengal to achieve the status of College on the basis of World Class infrastructure, quality of academics and excellent placements.</li>
                                <li data-aos="fade-up" data-aos-duration="600">Offers a wide range of exciting and highly career oriented disciplines. 4. Predicative academic calendar which is followed strictly by West Bengal University of Technology in order to award the degree on time.</li>
                                <li data-aos="fade-up" data-aos-duration="650">Special Personality Development programme : The college has created Student's Societies in each programme in which students organize different activities like quizzes, seminars, cultural functions, sports and fates on their own. </li>
                                <li data-aos="fade-up" data-aos-duration="700">Our college graduates have excellent employment prospects as KITM is Tio-up with several Industry leaders for training and placement.</li>
                                <li data-aos="fade-up" data-aos-duration="750">We offer a friendly and supportive learning environment.</li>
                                <li data-aos="fade-up" data-aos-duration="800">Highly qualified, experienced, meritorious and dedicated faculties including products of the best Institute in North Bengal.</li>
                                <li data-aos="fade-up" data-aos-duration="850"><strong>Students Mentor: </strong> Counselling of the students in small batches and regular information to parents about the performance of the students and corrective steps taken thereof.</li>
                                <li data-aos="fade-up" data-aos-duration="900">Regular communication with parents or guardians with respect to attendance, conduct and academic performance of their wards.</li>
                                <li data-aos="fade-up" data-aos-duration="950">Strict discipline and personal attention to the students.</li>
                                <li data-aos="fade-up" data-aos-duration="1000"> Computer labs equipped with Dual Core computers connected through a LAN with internet facilities through BSNL ensuring 24 hours connectivity.</li>
                                <li data-aos="fade-up" data-aos-duration="1050"><strong>Anti-Ragging Circular : </strong> Anti Ragging Student squad, extra vigilance by faculties and hostel wardens, to eliminate ragging from KITM campus.</li>
                                <li data-aos="fade-up" data-aos-duration="1100">Specious lawn and pollution free environment around 3 acres of lush green campus.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="description-container">
            <img src="https://i.pinimg.com/originals/cc/8c/a1/cc8ca1eb67567d171405d85ec5915160.png" alt="" class="img-responsive floating-image right" data-aos="flip-up">

            <h3 style="text-decoration: underline solid Green 5px; font-size:36px">MISSION OF KITM</h3>

            <p data-aos="zoom-out">
                To engage in constant research and Innovation to create pool of knowledge in future thrust areas to empower a prospective learners with a need-based and Industry oriented career pursuits at an affordable cost, location and with the right affiliation.
            </p>

            <img src="https://i.pinimg.com/originals/cc/8c/a1/cc8ca1eb67567d171405d85ec5915160.png" alt="" class="img-responsive floating-image left" data-aos="flip-up">
            <h3 style="text-decoration: underline solid Green 5px;">VISION OF KITM</h3>
            <p data-aos="zoom-out">
                Breaking the path of Traditional learning "KITM provides a highly motivated learning environment and inculcates proactive approach. This is a unique " KTM " Model and has become synonymous with quality education. "KITM "ensures that classroom teaching becomes interesting enough, so as to develop the student's interest in academics. It includes innovative and dynamic classroom teaching presentations. workshops, case studies, assignments, and lectures on latest development, Mock Stocks, book reviews, corporate Case etc.
            </p>

        </div>
        <hr />
        <div>
            <h2>Location On Map</h2>
            <div class="mapouter"><div class="gmap_canvas"><iframe width="1100" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=KITM%20COLLEGE,%20Panjipara,%20West%20Bengal,%20India&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://embedgooglemap.net/maps/81"></a><br>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 1100px;
                }
            </style><a href="https://www.embedgooglemap.net"></a>
            <style>
                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 1100px;
                }
            </style></div></div>
        </div>
        <br />
        <hr />
        <div>
            <h2>Location Details</h2>
            <div class="col-12 px-0">
                <div class="row">
                    <div class="">
                        <ul class="list-styled">
                            <li data-aos="fade-right" data-aos-duration="200">College More</li>
                            <li data-aos="fade-right" data-aos-duration="300">PanjariPara</li>
                            <li data-aos="fade-right" data-aos-duration="400"><strong>P.O. - </strong>Sudarshan Nagar</li>
                            <li data-aos="fade-right" data-aos-duration="500"><strong>Sub Div - </strong>Gangarampur at Buniadpur</li>
                            <li data-aos="fade-right" data-aos-duration="600"><strong>District - </strong>Dakshin Dinajpur</li>
                            <li data-aos="fade-right" data-aos-duration="700"><strong>State - </strong>West Bengal</li>
                            <li data-aos="fade-right" data-aos-duration="800"><strong>Pincode - </strong>733124</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <h2>Transportation</h2>
            <div class="col-12 px-0">
                <div class="row">
                    <div class="">
                        <ul class="list-styled">
                            <li><strong>Nearest New Bus Stop - </strong> College More(PanjariPara) 0.7 K.M</li>
                            <li><strong>Nearest Railway Stations - </strong>Buniadpur(5 K.M) , Malda Town(45 K.M)</li>
                            <li><strong>Nearest Airport - </strong>Bagdogra (Siliguri) 178 K.M</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Scroll Effects-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!--End Scroll Effects-->
</body>
</html>