*
{
    margin: 0;
    padding: 0;
}
.universalheader
{
    font-family: 'Patua One', cursive;
    color: white;
}
.headerattribute
{
    font-family: 'Patua One', cursive;
}
/* header */
.header
{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}
.header .headertag
{
    margin-left: 100px;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 1000;

}
.header .content a
{
    margin: 5px;
}
.list
{
    display: flex;
}
.list .unlisteditems
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;  
    margin-left: 75%;
    cursor: pointer;
}
.list .unlisteditems .button
{
    height: 35px;
    width: 90px;
    font-size: 15px;
    background: red;
    color: white;
    border-style: none;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
}
.list .unlisteditems .button:hover
{
    cursor: pointer;
}
.list .unlisteditems .li
{
    font-family: 'Varela Round', sans-serif;
    margin: 10px;
}
.list2
{
    display: flex;
    /* border: 1px solid green; */
}
.list2 .unlist
{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list2 .unlist .li
{
    margin: 10px;
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Sen', sans-serif; */
    font-family: 'Roboto Slab', serif;
}
.list2 .unlist .li:hover
{
    color: blue;
    cursor: pointer;
}
/* parallax page content */
.parallax-container
{
    width: 100%;
}
.parallax-container .parallax
{
    width: 100%;
}
.parallaxsection
{
    background: darkgrey;
    width: 100%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parallaxsection .parallaxdiv
{
    max-width: 1000px;
    margin: 0 auto;
}
.parallax-container .aboutContent
{
  margin-top: 17%;
  text-align: center;
  align-items: center;
}
.parallax-container .aboutContent .aboutHeader
{
    font-size: 70px;
    color: white;
    font-weight: 700;
    text-shadow: 16px 22px 11px rgba(12, 12, 7, 0.8);
}
.text
{
    font-size: 20px;
    /* font-family: 'Josefin Sans', sans-serif; */
}
.parallaxsection .parallaxdiv .button
{
    height: 60px;
    width: 150px;
    font-size: 15px;
    background-color: black;
    color: white;
    border-style: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
}
.parallaxsection .parallaxdiv .button:hover
{
    cursor: pointer;
}
/* our servives */
/* used languages */
.usedlanguages
{
    margin-top: -300px;
    padding-top: 300px;
    width: 100%;
    height: 100%;
    background: #021929;
}
.usedlanguages .languages
{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.usedlanguages .languages .language 
{
    align-items: center;
    margin-left: 50px;
}
.usedlanguages .languages .language  p
{
    color: white;
    margin: 60px;
}
.usedlanguages .languages .imagebox
{
    width: 300px;
    margin: 100px
}
.usedlanguages .languages .imagebox img
{
    width: 100%;
}
.usedlanguages .CSSlanguages
{
    margin: 60px;
}
.usedlanguages .CSSlanguages .CSSlanguage
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.usedlanguages .CSSlanguages .CSSlanguage .imagebox
{
    width: 300px;
}
.usedlanguages .CSSlanguages .CSSlanguage .imagebox img
{
    width: 100%;
}
.CSSlanguages .CSSlanguage 
{
    margin-left: 90px;
}
.CSSlanguages .CSSlanguage p
{
    color: white;
    margin: 30px;
}
/* our services */
/* services */
.services
{
    background: rgb(255, 255, 255);
    padding: 100px;
    text-align: center;
}
.services .container
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.services .container .serviceBx
{
    position: relative;
    background: rgb(216, 214, 214);
    width: 350px;
    height: 400px;
    display: flex;
    border-radius: 50px 5px;
    justify-content: center;
    align-items: center;
}
.services .container .serviceBx h2
{
    font-size: 40px;
    font-weight: 550;
}
.services .container .serviceBx img
{
    max-width: 100px;
}
/* about us */
.aboutme
{
    background: #052653;
    width: 100%;
    height: 100%;
    margin-top: -60px;
}
.aboutme .aboutdiv
{
    text-align: center;
}
.aboutme .aboutdiv .text
{
    font-size: 20px;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}
/* testimonials */
.testimonials
{
    padding: 100px;
    text-align: center;
    background: rgba(42, 10, 63, 0.377);
}
.testimonials .testimonialsh2
{
    padding-top: 60px;
    font-family: 'Varela Round', sans-serif;
}
.testimonials .testimonialcontent
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    width: 100%;
}
.testimonials .testimonialcontent .paragraphheader
{
    display: flex;
    justify-content: space-between;
    padding: 60px 50px;
    width: 550px;
    margin: 20px;
    background: white;
    border-radius: 20px;
    text-align: center;
}
.pText
{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 25px;
}
/* footer */
.ultext
{
    color: black;
    font-size: 17px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 550;
    letter-spacing: 2px;
}
.cText
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
}
.footer
{
    width: 100%;
    background: grey;
}
.footer .footerdiv
{
    display: flex;
    justify-content: space-between;
}
.footer .footerdiv .headerset
{
    margin: 50px;
}
.footer .footerdiv .headerset .coloumn .ul a li:hover
{
    color: white; 
    background: black;
    border-radius: 20px;
    padding-left: 10px;
}
.footer .footerdiv .imagebox
{
    max-width: 400px;
}
.footer .footerdiv .imagebox img
{
    margin: 5px;
    width: 5.5%;
    opacity: 0.5;
}
.footer .footerdiv .imagebox img:hover
{
    opacity: 1;
}

/*                                   Aboutme HTML Page code(aboutme.html)                                 */
.aboutcontainer
{
    widows: 100%;
    height: 100%;
}
.aboutcontainer .imagecontainer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("bg.jpg");
}
.aboutcontainer .imagecontainer .imageBx
{
    width: 300px;
    margin-top: 50px;
    z-index: 100000;
}
.aboutcontainer .imagecontainer .imageBx img
{
    width: 100%;
    border-radius: 50% 50% 50% 50%;
}
.aboutcontainer .detailcontainer
{
    background: darkgrey;
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -190px;
}
.aboutcontainer .detailcontainer .detailbox
{
    padding-top: 20px;
}
/*                                          CONTACT US HTML PAGE CODE(contactus.html)                          */
.contactsection
{
    width: 100%;
    background: #EDEDED;
}
.contactsection .headertitle
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.contactsection .headertitle h1
{
    font-size: 4em;
}
.contactsection .contactus
{
    display: flex;
    justify-content: center;
    /* width: 100%; */
    height: 100%;
}
.contactsection .contactus .contactdetails
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.contactsection .contactus .contactdetails .medium
{
    margin: 70px;
    /* border: 1px solid rebeccapurple; */
}
.contacth2
{
    text-align: center;
}
.contactp
{
    text-align: center;
}
.contactsection .contactus .contactdetails .imagebX 
{
    max-width: 400px;
    margin-left: 100px;
    margin-bottom: 30px;
}
.contactsection .contactus .contactdetails .imagebX img
{
    width: 50%;
}
.contactbutton
{
    margin-top: 10px;
    height: 35px;
    width: 100%;
    font-size: 15px;
    background: wheat;
    color: black;
    border-style: none;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    border-radius: 20px;
    text-align: center; 
}
.contactbutton:hover
{
    cursor: pointer;
    /* padding: 15px; */
    background: #EDEDED;
    border: 1px solid black;
    animation: cubic-bezier(0.23, 1, 0.320, 1);
    animation-delay: 20s;
}