
@{
    ViewBag.Title = "NoStudentCardFound";
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body style="background-color:azure">
    <div class="container">
        <!-- course list -->
        <div class="row justify-content-center">
            <!-- course item -->
            <div class="col-lg-4 col-sm-6 mb-5">
                <img src="https://cdn.dribbble.com/users/1449854/screenshots/4136663/no_data_found.png?compress=1&resize=800x600" style="top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);" alt="Alternate Text" />
            </div>
        </div>
    </div>

</body>
</html>
