@model CMS.MODEL.Master.DropDownListModel

@{
    ViewBag.Title = "RoleList";
    Layout = null;
}

@using (Html.BeginForm("RoleList", "AdminPortal", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.RoleName, new SelectList(ViewBag.RoleNames, "RoleGuid", "RoleName"), "Choose Role..", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoleGuid, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

