
@{
    ViewBag.Title = "Errorshow";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
        <script>
            window.alert("Unauthorized User");
        </script>
    </body>
</html>