@model List<CMS.MODEL.Book.BooksModel>

@{
    ViewBag.Title = "ListFilterBooks";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline custom-breadcrumb">
                        <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="page-link">Adminstration Portal</a></li>
                        <li class="list-inline-item text-white h3 font-secondary"></li>
                    </ul>
                    <p class="text-lighten">Do you have other questions? Don't worry, there aren't any dumb questions. Just fill out the form below and we'll get back to you as soon as possible.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-gray">
        <div class="accordion" id="accordionExample">
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">BookName</th>
                            <th scope="col">AuthorName</th>
                            <th scope="col">BooksSerialNumber</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BookName</td>
                                <td>@item.BookAuthorName</td>
                                <td>@item.BooksSerialnumber</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>
</html>