
@{
    ViewBag.Title = "ListCards";
}

<h2>ListCards</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <script>
        window.alert("You Are Not Authenticated");
    </script>
</body>
</html>