<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
   <section name="CustomConfigurationSection" type="ApplicationTools.Configuration.CustomConfigurationSection, ApplicationTools" />
  </configSections>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>--> 
  <CustomConfigurationSection>
    <Endpoints>
      <add name="Dev" address="https://localhost:44377/"/>
      <add name="Test" address="http://122.166.219.125:5051/BusinessService"   />
      <add name="Live" address="http://122.166.219.125:5051/BusinessService"  />
    </Endpoints>
    <Environments>
      <Environment name="Dev">
        <add key="LoginURL" value="http://122.166.219.125:5055/Legalapp/#/login/MFL" />
        <add key="PasswordReset" value="http://122.166.219.125:5051/app/#/userpassword/resetpassword/[passwordresetcode]?[companycode]"/>
        <add key="UserAuthorize" value="True" />
        <add key="LogFilePath" value="D:/LogFile/LogFile.txt" />
        <add key="EnableSSL" value="True"></add>
        <add key="EnableErrorNotification" value="false"></add>
        <add key="ProviderType" value="SqlServer"/>
        <add key="FileServer" value="D:\DMSContentServerWithFolder" />
        <add key="FileServerURL" value="http://122.166.219.125:5057/DMSContentServerWithFolder/" />
        <add key="ExtendTime" value="30" />
        <add key="AuthMode" value="Active Directory"></add>
        <add key="PasswordExpiry" value="180"></add>
        <add key="EmailSenderEmail" value="emailengine.pentechs@gmail.com" />
        <add key="EmailSenderDisplayName" value="eBook" />
        <add key="EmailSenderPassword" value="Welcome_123" />
        <add key="EmailSender" value="EmailSender@ASI.com" />
        <add key="SMTPAddress" value="smtgmail.com" />
        <add key="SMTPPort" value="25" />
        <add key="EnableSSL" value="True"></add>
        <add key="NewRegistrationEmail" value="~/Resources/NewRegistrationEmail.html" />
        <add key="ResetPasswordEmail" value="~/Resources/ResetPasswordEmail.html" />
        <add key="LinkCompanyEmail" value="~/Resources/LinkCompanyEmail.html" />
        <add key="ChangedPasswordEmail" value="~/Resources/ChangedPasswordEmail.html" />
        <add key="EmailContent" value="~/Resources/CREmailContentXML.xml" />
        <add key="CustomerProfileURL" value="http://122.166.219.125:5057/eBook/API/UMSAPI/api/Admin/Customer/GetCustomerProfileDetails/?customerid="></add>
        <add key="CustomerAddressURL" value="http://122.166.219.125:5057/eBook/API/UMSAPI/api/Admin/Customer/GetCustomerAddress/?id="></add>
        <add key="ResourceFileServer" value="E:\SVN\eBookV0.1\eBookAPI_V01\QM.eBook" />
        <add key="Company" value="ONLINEBOOKS"></add>
        <add key="ImageURL" value="http://122.166.219.125:5057/eBook/API/BOOKAPI" />
		    <add key="GalleryImageTypes" value="Thumbnail,Large"></add>
			  <add key="CartSequence" value="6"></add>
	      <add key="RedisExpireDuration" value="86400"/>
		    <add key="FolderStructure" value="PRODUCT,PROJECT,PMORDER,TILEORDER,INVOICE,CERTIFICATE,ATTACHMENTS,PRODUCTION" />
        <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
        <add key="DefaultBackground" value="/Resources/DefaultBackground.png" />
        <add key="UploadDocumentURL" value="http://localhost:63298/api/DocumentService/UploadDocument?Type="></add>
        <add key="ResizeByPercentage" value="150"></add>
        
        <add key="MerchantID" value="TheOnl-6213586"/>
        <add key="Password" value="WishyWashy123"/>
        <add key="PaymentFormResultHandlerURL" value="https://mms.payzoneonlinepayments.com/Pages/PublicPages/PaymentFormResultHandler.ashx"></add>
         <add key="HashMethod" value="SHA1"/>
        <add key="SecretKey" value="MySecretKey-123456789"/>
        <add key="PreSharedKey" value="BBTDeYu8L1byLhCdlxzziCm" />
        <add key="ResultDeliveryMethod" value="SERVER_PULL"/>
      </Environment>
      <Environment name="Test">
        <add key="LoginURL" value="http://122.166.219.125:5055/Legalapp/#/login/MFL" />
        <add key="PasswordReset" value="http://122.166.219.125:5051/app/#/userpassword/resetpassword/[passwordresetcode]?[companycode]"/>
        <add key="UserAuthorize" value="True" />
        <add key="LogFilePath" value="D:/LogFile/LogFile.txt" />
        <add key="EnableSSL" value="True"></add>
        <add key="EnableErrorNotification" value="false"></add>
        <add key="ProviderType" value="SqlServer"/>
        <add key="FileServer" value="D:\DMSContentServerWithFolder" />
        <add key="FileServerURL" value="http://122.166.219.125:5057/DMSContentServerWithFolder/" />
        <add key="ExtendTime" value="30" />
        <add key="AuthMode" value="Active Directory"></add>
        <add key="PasswordExpiry" value="180"></add>
        <add key="EmailSenderEmail" value="emailengine.pentechs@gmail.com" />
        <add key="EmailSenderDisplayName" value="eBook" />
        <add key="EmailSenderPassword" value="Welcome_123" />
        <add key="EmailSender" value="EmailSender@ASI.com" />
        <add key="SMTPAddress" value="smtgmail.com" />
        <add key="SMTPPort" value="25" />
        <add key="EnableSSL" value="True"></add>
        <add key="NewRegistrationEmail" value="~/Resources/NewRegistrationEmail.html" />
        <add key="ResetPasswordEmail" value="~/Resources/ResetPasswordEmail.html" />
        <add key="LinkCompanyEmail" value="~/Resources/LinkCompanyEmail.html" />
        <add key="ChangedPasswordEmail" value="~/Resources/ChangedPasswordEmail.html" />
        <add key="EmailContent" value="~/Resources/CREmailContentXML.xml" />
        <add key="CustomerProfileURL" value="http://122.166.219.125:5057/eBook/API/UMSAPI/api/Admin/Customer/GetCustomerProfileDetails/?customerid="></add>
        <add key="CustomerAddressURL" value="http://122.166.219.125:5057/eBook/API/UMSAPI/api/Admin/Customer/GetCustomerAddress/?id="></add>
        <add key="ResourceFileServer" value="E:\SVN\eBookV0.1\eBookAPI_V01\QM.eBook" />
        <add key="Company" value="ONLINEBOOKS"></add>
        <add key="ImageURL" value="http://122.166.219.125:5057/eBook/API/BOOKAPI" />
		    <add key="GalleryImageTypes" value="Thumbnail,Large"></add>
			  <add key="CartSequence" value="6"></add>
	      <add key="RedisExpireDuration" value="86400"/>
		    <add key="FolderStructure" value="PRODUCT,PROJECT,PMORDER,TILEORDER,INVOICE,CERTIFICATE,ATTACHMENTS,PRODUCTION" />
        <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
        <add key="DefaultBackground" value="/Resources/DefaultBackground.png" />
        <add key="UploadDocumentURL" value="http://localhost:63298/api/DocumentService/UploadDocument?Type="></add>
        <add key="ResizeByPercentage" value="150"></add>
        
        <add key="MerchantID" value="TheOnl-6213586"/>
        <add key="Password" value="WishyWashy123"/>
        <add key="PaymentFormResultHandlerURL" value="https://mms.payzoneonlinepayments.com/Pages/PublicPages/PaymentFormResultHandler.ashx"></add>
         <add key="HashMethod" value="SHA1"/>
        <add key="SecretKey" value="MySecretKey-123456789"/>
        <add key="PreSharedKey" value="BBTDeYu8L1byLhCdlxzziCm" />
        <add key="ResultDeliveryMethod" value="SERVER_PULL"/>
      </Environment>
      <Environment name="Live">
        <add key="LoginURL" value="http://122.166.219.125:5055/Legalapp/#/login/MFL" />
        <add key="PasswordReset" value="http://122.166.219.125:5051/app/#/userpassword/resetpassword/[passwordresetcode]?[companycode]"/>
        <add key="UserAuthorize" value="True" />
        <add key="LogFilePath" value="E:/LogFile/LogFile.txt" />
        <add key="EnableSSL" value="True"></add>
        <add key="EnableErrorNotification" value="false"></add>
        <add key="ProviderType" value="SqlServer"/>
        <add key="FileServer" value="E:\DMSContentServerWithFolder" />
        <add key="FileServerURL" value="http://122.166.219.125:5057/DMSContentServerWithFolder/" />
        <add key="ExtendTime" value="30" />
        <add key="AuthMode" value="Active Directory"></add>
        <add key="PasswordExpiry" value="180"></add>
        <add key="EmailSenderEmail" value="emailengine.pentechs@gmail.com" />
        <add key="EmailSenderDisplayName" value="eBook" />
        <add key="EmailSenderPassword" value="Welcome_123" />
        <add key="EmailSender" value="EmailSender@ASI.com" />
        <add key="SMTPAddress" value="smtgmail.com" />
        <add key="SMTPPort" value="25" />
        <add key="EnableSSL" value="True"></add>
        <add key="NewRegistrationEmail" value="~/Resources/NewRegistrationEmail.html" />
        <add key="ResetPasswordEmail" value="~/Resources/ResetPasswordEmail.html" />
        <add key="LinkCompanyEmail" value="~/Resources/LinkCompanyEmail.html" />
        <add key="ChangedPasswordEmail" value="~/Resources/ChangedPasswordEmail.html" />
        <add key="EmailContent" value="~/Resources/CREmailContentXML.xml" />
        <add key="CustomerProfileURL" value="http://122.166.219.125:5057/eBook/API/UMSAPI/api/Admin/Customer/GetCustomerProfileDetails/?customerid="></add>
        <add key="CustomerAddressURL" value="http://122.166.219.125:5057/eBook/API/UMSAPI/api/Admin/Customer/GetCustomerAddress/?id="></add>
        <add key="ResourceFileServer" value="D:\Product\SocialProjects\Book\eCommerceBook\QM.eBook" />
        <add key="Company" value="ONLINEBOOK"></add>
        <add key="GalleryImageTypes" value="Thumbnail,Large"></add>
        <add key="CartSequence" value="6"></add>
        <add key="RedisExpireDuration" value="86400"/>
        <add key="FolderStructure" value="PRODUCT,PROJECT,PMORDER,TILEORDER,INVOICE,CERTIFICATE,ATTACHMENTS,PRODUCTION" />
        <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
        <add key="DefaultBackground" value="/Resources/DefaultBackground.png" />
        <add key="UploadDocumentURL" value="http://localhost:63298/api/DocumentService/UploadDocument"></add>
      </Environment>
    </Environments>
    <DBServers>
      <add name="Dev" connectionString="Server=HP; Database=BookControlDB; User Id=sa; password=admin_123" providerName="System.Data.SqlClient" />
      <!--<add name="Dev" connectionString="Server=3.95.79.32; Database=BookControlDB; User Id=bookadmin; password=admin_123" providerName="System.Data.SqlClient" />-->
      <add name="Test" connectionString="Server=Pentechssvr2; Database=ControlBook; User Id=sa; password=admin_123" providerName="System.Data.SqlClient" />
      <add name="Live" connectionString="Server=Pentechssvr2; Database=ControlBook; User Id=sa; password=admin_123" providerName="System.Data.SqlClient" />
    </DBServers>
  </CustomConfigurationSection>
</configuration>