<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <configSections>
    <section name="MessageCodeConfiguration" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <MessageCodeConfiguration>
    <!--<Global>-->
    <add key="SUCCESS" value="Success" ></add>
    <add key="NOTSUCCESS" value="Not success" ></add>
    <add key="NOHISTORY" value="You don't have any history." ></add>
    <add key="INVALIDINPUT" value="Invalid Input"></add>
    <add key="ERROROCCURE" value="Sorry, some error occurred." ></add>
    <add key="NOCONTENT" value="No content found."></add>
    <add key="NOPASSWORD" value="Password is required."></add>
    <add key="CHANGEPASSWORD" value="ChangePasswrod"></add>
    <add key="NEWREGISTRATION" value="NewRegistration"></add>
    <add key="PASSWORDREMAINDER" value="PasswordRemainder"></add>
    <add key="CONSTRAINTSFAILURE" value="Could not delete this record this is associated with other record...!"></add>
    <add key="NOTFOUND" value="No record found"></add>
    <add key="INVALIDIP" value="Invalid IP address"></add>
    <!-- Duplicate-->
    <add key="DUPLICATE" value="Already exists."></add>
    <add key="EXIST" value="Already in use."></add>
    <add key="DOCUMENTINUSE" value="This action can't be completed becuase the document use by other resource. Please contact administrator for more information."></add>
    <add key="CONFLICTS" value="Appointment Scheduling Conflicts."></add>
    <!--Validation-->
    <add key="STIEMAPALREADYUSED" value="Can not perform any operation as this reference already used."></add>
    <!--</Global>-->
    <!--Categories-->
    <add key="GETCATEGORYFAILED" value="No category found."></add>
    <add key="ADDCATEGORYFAILED" value="Some Problem while adding category."></add>
    <add key="UPDATECATEGORYFAILED" value="Some Problem while updating category."></add>
    <add key="DELETECATEGORYFAILED" value="Some Problem while deleting category."></add>
    <add key="UPDATEPRODUCTCATEGORYFAILED" value="Category can't be modified beacuse used in attribute."></add>
    <!--End Categories-->
    <!--Product-->
    <add key="GETPRODUCTFAILED" value="No product found."></add>
    <add key="ADDPRODUCTFAILED" value="Some Problem while adding product."></add>
    <add key="UPDATEPRODUCTFAILED" value="Some Problem while updating product."></add>
    <add key="DELETEPRODUCTFAILED" value="Some Problem while deleting product."></add>
    <add key="ADDPRODUCTPICTUREFAILED" value="Some Problem while adding product picture."></add>
    <add key="LINKDELINKTAXFAILED" value="Some Problem while mapping product tax."></add>
    <!--End Product-->
    <!--ProductAttribute-->
    <add key="GETPRODUCTATTRIBUTEFAILED" value="No product atrribute found."></add>
    <add key="ADDPRODUCTATTRIBUTEFAILED" value="Some Problem while adding product atrribute."></add>
    <add key="UPDATEPRODUCTATTRIBUTEFAILED" value="Some Problem while updating product atrribute."></add>
    <add key="DELETEPRODUCTATTRIBUTEFAILED" value="Some Problem while deleting product atrribute."></add>
    <!--End ProductAttribute-->

    <!--ProductAttributeValue-->
    <add key="GETPRODUCTATTRIBUTEVALUEFAILED" value="No product atrribute value found."></add>
    <add key="ADDPRODUCTATTRIBUTEVALUEFAILED" value="Some Problem while adding product atrribute value."></add>
    <add key="UPDATEPRODUCTATTRIBUTEVALUEFAILED" value="Some Problem while updating product atrribute value."></add>
    <add key="DELETEPRODUCTATTRIBUTEVALUEFAILED" value="Some Problem while deleting product atrribute value."></add>
    <!--End ProductAttribute-->

    <!--ProductAttributeMaster-->
    <add key="GETPRODUCTATTRIBUTEMASTERFAILED" value="No product atrribute master found."></add>
    <add key="ADDPRODUCTATTRIBUTEMASTERFAILED" value="Some Problem while adding product atrribute master."></add>
    <add key="UPDATEPRODUCTATTRIBUTEMASTERFAILED" value="Some Problem while updating product atrribute master."></add>
    <add key="DELETEPRODUCTATTRIBUTEMASTERFAILED" value="Some Problem while deleting product atrribute master."></add>
    <!--End ProductAttributeMaster-->
    <!--ProductVariance-->
    <add key="GETPRODUCTVARIANCEFAILED" value="No product variance found."></add>
    <add key="ADDPRODUCTVARIANCEFAILED" value="Some Problem while adding product variance."></add>
    <add key="UPDATEPRODUCTVARIANCEFAILED" value="Some Problem while updating product variance."></add>
    <add key="DELETEPRODUCTVARIANCEFAILED" value="Some Problem while deleting product variance."></add>
    <!--End ProductVariance-->

    <!--ProductAttributeOptionMaster-->
    <add key="GETATTRIBUTEOPTIONMASTERFAILED" value="No product atrribute option master found."></add>
    <add key="ADDATTRIBUTEOPTIONMASTERFAILED" value="Some Problem while adding product atrribute option master."></add>
    <add key="UPDATEATTRIBUTEOPTIONMASTERFAILED" value="Some Problem while updating product atrribute option master."></add>
    <add key="DELETEATTRIBUTEOPTIONMASTERFAILED" value="Some Problem while deleting product atrribute option master."></add>
    <add key="DELETEATTRIBUTEOPTIONMASTERFAILED" value="Some Problem while deleting product atrribute option master."></add>
    <!--ProductAttributeOptionMasterEnd-->
    <!--ProductAttribute-->
    <add key="GETATTRIBUTEOPTIONFAILED" value="No product atrribute option found."></add>
    <add key="ADDATTRIBUTEOPTIONFAILED" value="Some Problem while adding product atrribute option."></add>
    <add key="UPDATEATTRIBUTEOPTIONFAILED" value="Some Problem while updating product atrribute option."></add>
    <add key="DELETEATTRIBUTEOPTIONFAILED" value="Some Problem while deleting product atrribute option."></add>
    <add key="MAPPINGPRODUCTATTRIBUTEFAILED" value="Some Problem while mapping product atrribute."></add>
    <!--ProductAttributeEnd-->
    <!--ProductSpecification-->
    <add key="GETPRODUCTSPECIFICATIONFAILED" value="No product specification found."></add>
    <add key="ADDPRODUCTSPECIFICATIONFAILED" value="Some Problem while adding product specification."></add>
    <add key="UPDATEPRODUCTSPECIFICATIONFAILED" value="Some Problem while updating product specification."></add>
    <add key="DELETEPRODUCTSPECIFICATIONFAILED" value="Some Problem while deleting product specification."></add>
    <add key="MAPPINGPRODUCTSPECIFICATIONFAILED" value="Some Problem while mapping product specification data."></add>
    <!--ProductSpecificationEnd-->
    <!--ProductSpecificationMaster-->
    <add key="GETPRODUCTSPECIFICATIONMASTERFAILED" value="No product specification master found."></add>
    <add key="ADDPRODUCTSPECIFICATIONMASTERFAILED" value="Some Problem while adding product specification master."></add>
    <add key="UPDATEPRODUCTSPECIFICATIONMASTERFAILED" value="Some Problem while updating product specification master."></add>
    <add key="DELETEPRODUCTSPECIFICATIONMASTERFAILED" value="Some Problem while deleting product specification master."></add>
    <!--ProductSpecificationMasterEnd-->
    <!--Picture-->
    <add key="GETPICTUREFAILED" value="No image found."></add>
    <add key="ADDPICTUREFAILED" value="Some Problem while adding image."></add>
    <add key="UPDATEPICTUREFAILED" value="Some Problem while updating image."></add>
    <add key="DELETEPICTUREFAILED" value="Some Problem while deleting image."></add>
    <!--End Picture-->
    <!--ProductAttributeMaster-->
    <add key="GETATTRIBUTEMASTERFAILED" value="No atrribute master found."></add>
    <add key="ADDATTRIBUTEMASTERFAILED" value="Some Problem while adding atrribute master."></add>
    <add key="UPDATEATTRIBUTEMASTERFAILED" value="Some Problem while updating atrribute master."></add>
    <add key="DELETEATTRIBUTEMASTERFAILED" value="Some Problem while deleting atrribute master."></add>
    <!--End ProductAttributeMaster-->
    <!--Product Type-->
    <add key="PRODUCTTYPEFOUNDFAIL" value="Some problem while retrieving Product Types."></add>
    <add key="ADDPRODUCTTYPEFAILED" value="Some problem while inserting Product Types."></add>
    <add key="UPDATEPRODUCTTYPEFAILED" value="Some problem while updating Product Type."></add>
    <add key="DELETEPRODUCTTYPEFAILED" value="Some problem while removing Product Types."></add>
    <!--End ProductType-->
    <!--Master-->
    <add key="LANGUAGENOTFOUNDFAIL" value="Some problem while retrieving Language list."></add>
    <!--End Master-->
    <!--Order-->
    <add key="ORDEREXIST" value="Order already exist at cart."></add>
    <add key="ORDERPLACEDFAILED" value="Failed to order."></add>
    <add key="ORDERPLACED" value="Order added to cart."></add>
    <!--End Order-->
    <!--Cart-->
    <add key="GETCARTFAILED" value="No product found."></add>
    <add key="UPDATECARTFAILED" value="Some Problem while updating cart."></add>
    <add key="UPDATECARTSUCCESS" value="Cart updated successfully."></add>
    <add key="CARTADDRESSUPDATEFAIL" value="Cart Address update failled."></add>
    <add key="CARTADDRESSUPDATEVALUEFAIL" value="Billing Address and Shipping Address both should be selected."></add>
    <add key="CARTNOTESERROR" value="Delete Or Pay the existing Edit cart."></add>
    <!--End Cart-->
    <!--Project-->
    <add key="PROJECTFOUNDFAIL" value="Some problem while retrieving Projects."></add>
    <add key="PROJECTTRANSLATIONFOUNDFAIL" value="Some problem while retrieving Project Translation."></add>
    <add key="PROJECTNEWSFOUNDFAIL" value="Some problem while retrieving Project News."></add>
    <add key="PROJECTIMGCAPTIONFOUNDFAIL" value="Some problem while retrieving Project Image Caption."></add>
    <add key="ADDPROJECTFAILED" value="Some problem while inserting Project."></add>
    <add key="ADDPROJECTTRANSLATIONFAILED" value="Some problem while inserting Project Translation."></add>
    <add key="ADDPROJECTNEWSFAILED" value="Some problem while inserting Project Translation."></add>
    <add key="UPDATEPROJECTFAILED" value="Some problem while updating Project."></add>
    <add key="UPDATEPROJECTTRANSLATIONFAILED" value="Some problem while updating Project Translation."></add>
    <add key="UPDATEPROJECTNEWSFAILED" value="Some problem while updating Project News."></add>
    <add key="DELETEPROJECTFAILED" value="Some problem while removing Project."></add>
    <add key="DELETEPROJECTTRANSLATIONFAILED" value="Some problem while removing Project Translation."></add>
    <add key="DELETEPROJECTNEWSFAILED" value="Some problem while removing Project News."></add>
    <add key="DELETEPROJECTLANGUAGEFAILED" value="Some problem while removing Project Language."></add>
    <add key="MAPPINGPROJECTIMAGEFAILED" value="Some problem while Mapping the Images to Project."></add>
    <!--End Project-->
    <!--Voucher-->
    <add key="ADDVOUCHERFAILED" value="Some problem while inserting Voucher."></add>
    <add key="VOUCHERDETAILSFOUNDFAIL" value="Some problem while retrieving Voucher Details."></add>
    <add key="VOUCHERFOUNDFAIL" value="Some problem while retrieving Voucher Batch Details."></add>
    <add key="UPDATEVOUCHERFAILED" value="Some problem while updating Voucher Details."></add>
    <add key="DELETEBATCHVOUCHERSFAILED" value="Some problem while removing Batch Vouchers."></add>
    <add key="DELETEVOUCHERFAILED" value="Some problem while removing Vouchers."></add>
    <add key="VOUCHERAPPLIED" value="The voucher code was applied."></add>
    <add key="VOUCHERNOTAPPLIED" value="The voucher code you entered couldn't be applied to your cart."></add>
    <add key="VOUCHERREMOVED" value="The voucher code was removed."></add>
    <add key="VOUCHERNOTREMOVED" value="The voucher code you entered couldn't be removed to your cart."></add>
    <!--End Voucher-->
    <!--Tax-->
    <add key="TAXFOUNDFAIL" value="Some problem while retrieving tax details."></add>
    <!--End Voucher-->
    <!--Organization-->
    <add key="GETORGANIZATIONNEWSFAILED" value="Some problem while retrieving Organization News Details."></add>
    <add key="ADDORGANIZATIONNEWSFAILED" value="Some problem while inserting Organization News Details."></add>
    <add key="UPDATEORGANIZATIONNEWSFAILED" value="Some problem while updating Organization News Details."></add>
    <add key="DELETEORGANIZATIONNEWSFAILED" value="Some problem while removing Organization News Details."></add>

    <add key="GETOURPEOPLEFAILED" value="Some problem while retrieving Organization People Detail."></add>
    <add key="ADDOURSTAFFFAILED" value="Some problem while inserting Organization Prople Detail."></add>
    <add key="UPDATEOURSTAFFFAILED" value="Some problem while updating Organization People Detail."></add>
    <add key="DELETEOURSTAFFSFAILED" value="Some problem while removing Organization People Detail."></add>
    <!--End Organization-->

    <!--Document-->
    <add key="DOCUMENTMAPPED" value="Document maped successfully."></add>
    <add key="DOCUMENTUPLOAD" value="Document upload successfully."></add>
    <add key="DOCUMENTMAPPINGFAILED" value="Some Problem while mapping document."></add>
    <add key="DOCUMENTUPLOADFAILED" value="Some Problem while uploading document."></add>
    <add key="DOCUMENTSAVE" value="Document saved successfully."></add>
    <add key="DOCUMENTDELETE" value="Document deleted successfully."></add>
    <add key="GETDOCUMENTFAILED" value="Document not found."></add>
    <!--End Document-->
    <!--Currency-->
    <add key="GETCURRENCYFAILED" value="Some problem while retrieving currency details."></add>
    <!--End Currency-->
    <!--DeliveryDate-->
    <add key="GETDELIVERYDATEFAILED" value="Some problem while retrieving delivery date details."></add>
    <!--End DeliveryDate-->
    <!--PhotoMosaic-->
    <add key="PHOTOMOSAICINSERTFAILED" value="Some Problem while inserting into Photomosaic Details."></add>
    <add key="INSCRIPTIONINSERTIONFAILED" value="Some Problem while inserting into Inscription Details."></add>
    <!--End PhotoMosaic-->
    <!--PhotoMosaicStock-->
    <add key="GETPHOTOMOSAICSTOCKFAILED" value="Some Problem while retrieving photomosaic stocks."></add>
    <!--End PhotoMosaicStock-->
    <!--PhotoMosaic Gallery-->
    <add key="GETPHOTOMOSAICGALLERYFAILED" value="Some Problem while retrieving photomosaic gallery."></add>
    <!--End PhotoMosaic Gallery-->

    <!--AppointmentSchedule-->
    <add key="GETAPPOINTMENTSCHEDULEFAILED" value="No appointment schedule found."></add>
    <add key="ADDAPPOINTMENTSCHEDULEFAILED" value="Some Problem while adding appointment schedule."></add>
    <add key="UPDATEAPPOINTMENTSCHEDULEFAILED" value="Some Problem while updating appointment schedule."></add>
    <add key="DELETEAPPOINTMENTSCHEDULEFAILED" value="Some Problem while deleting appointment schedule."></add>
    <!--End AppointmentSchedule-->
    <!--AppointmentSchedule-->
    <add key="SLOTBOOKED" value="Slot allredy booked. Can not update appointment schedule."></add>
    <!--AppointmentScheduleSlot End-->

    <!--PaymentGateway-->
    <add key="GETPAYMENTGATEWAYFAILED" value="No payment gateway found."></add>
    <add key="ADDPAYMENTGATEWAYFAILED" value="Some Problem while adding payment gateway."></add>
    <add key="UPDATEPAYMENTGATEWAYFAILED" value="Some Problem while updating payment gateway."></add>
    <add key="ZEROAMOUNTPAYMENTFAILED" value="Some Problem while updating zero amount payment."></add>
    <!--PaymentGateway End-->

    <!--MailFormater-->
    <add key="GETMAILFORMATERFAILED" value="No mail format found."></add>
    <add key="TEMPLATEISSUE" value="Temple Selected is not yet Uploaded."></add>
    <!--MailFormater End-->

    <!--Discount-->
    <add key="DISCOUNTUSEDFORPRODUCT" value="Discount has been Used for this Product. We can not delete now."></add>
    <add key="DUPLICATEDATE" value="Valid Date is Overlapping."></add>
    <add key="INVALIDDISCOUNTCODE" value="Please enter a valid discount code."></add>
    <add key="DISCOUNTLIMITATIONFOUNDFAIL" value="Some Problem while retriving the discount limitation."></add>
    <!--Discount End-->

    <!--Stock-->
    <add key="GETSTOCKAVAILABLITYFAILED" value="Some Problem while retrieving stock availability."></add>
    <add key="GETORGNIZATIONADDRESSFAILED" value="Some Problem while retrieving orgnization address."></add>
    <!--Stock End-->

    <!--Template-->
    <add key="GETTEMPLATEFAILED" value="Some Problem while retrieving template."></add>
    <!--Stock End-->
    <add key="ADDPHOTOMOSAICFAILD" value="Some Problem while uploading image."></add>

    <!--Folder-->
    <add key="ADDFOLDERSUCCESS" value="Folder created successfully."></add>
    <add key="ADDFOLDERFAILED" value="Some problem while adding folder."></add>
    <!--Folder end-->
    <!--Mail-->
    <add key="MAILSENTFAILED" value="Mail sent failed."></add>
    <add key="ADDEMAILLOGFAILED" value="Some problem while adding mail to emaillog."></add>
    <add key="GETMAILMETADATAFAILED" value="Some Problem while retrieving mail meta data."></add>
    <!--mail end-->
    <!--Page-->
    <add key="GETPAGEFAILED" value="No page found."></add>
    <add key="ADDPAGEFAILED" value="Some Problem while adding page."></add>
    <add key="ADDPAGESUCCESS" value="Page added successfully."></add>
    <add key="UPDATEPAGEFAILED" value="Some Problem while updating page."></add>
    <add key="DELETEPAGEFAILED" value="Some Problem while deleting page."></add>
    <add key="SWAPPAGEFAILED" value="Some Problem while swap page."></add>
    <!--End Page-->
    <!--Content-->
    <add key="GETCONTENTFAILED" value="No content found."></add>
    <add key="ADDCONTENTFAILED" value="Some problem while adding content."></add>
    <add key="UPDATECONTENTFAILED" value="Some problem while updating content."></add>
    <add key="DELETECONTENTFAILED" value="Some problem while deleting content."></add>
    <!--End Content-->
    <!--Comment-->
    <add key="GETCOMMENTFAILED" value="No comment found."></add>
    <add key="ADDCOMMENTFAILED" value="Some problem while adding comment."></add>
    <add key="UPDATECOMMENTFAILED" value="Some problem while updating comment."></add>
    <add key="APPROVECOMMENTFAILED" value="Some problem while approving comment."></add>
    <add key="DELETECOMMENTFAILED" value="Some problem while deleting comment."></add>
    <!--End Comment-->
    <!--UserPreference-->
    <add key="GETUSERPREFERANCEFAILED" value="No comment found."></add>
    <add key="ADDUSERPREFERANCEFAILED" value="Some problem while adding UserPreference."></add>
    <add key="UPDATEUSERPREFERANCEFAILED" value="Some problem while updating UserPreference."></add>
    <add key="DELETEUSERPREFERANCEFAILED" value="Some problem while deleting UserPreference."></add>
    <add key="COPYUSERPREFERANCEFAILED" value="Some problem while copy UserPreference."></add>
    <!--End UserPreference-->
    <!--BookPreference-->
    <add key="GETBOOKPREFERANCEFAILED" value="No comment found."></add>
    <add key="ADDBOOKPREFERANCEFAILED" value="Some problem while adding UserPreference."></add>
    <add key="UPDATEBOOKPREFERANCEFAILED" value="Some problem while updating UserPreference."></add>
    <add key="DELETEBOOKPREFERANCEFAILED" value="Some problem while deleting UserPreference."></add>
    <add key="COPYBOOKPREFERANCEFAILED" value="Some problem while copy UserPreference."></add>
    <!--End BookPreference-->
    <!--Book-->
    <add key="GETBOOKFAILED" value="No book found."></add>
    <add key="ADDBOOKFAILED" value="Some problem while adding book."></add>
    <add key="UPDATEBOOKFAILED" value="Some problem while updating book."></add>
    <add key="DELETEBOOKFAILED" value="Some problem while deleting book."></add>
    <add key="LINKDELINKFAVOURITEBOOK" value="Some problem while link/delink with favourite book."></add>
    <!--End Book-->
    <!--Component-->
    <add key="GETCOMPONENTFAILED" value="No component found."></add>
    <add key="ADDCOMPONENTFAILED" value="Some problem while adding component."></add>
    <add key="UPDATECOMPONENTFAILED" value="Some problem while updating component."></add>
    <add key="DELETECOMPONENTFAILED" value="Some problem while deleting component."></add>
    <!--End Component-->
    <!--ComponentLayout-->
    <add key="GETCOMPONENTLAYOUTFAILED" value="No component layout found."></add>
    <add key="ADDCOMPONENTLAYOUTFAILED" value="Some problem while adding component layout."></add>
    <add key="UPDATECOMPONENTLAYOUTFAILED" value="Some problem while updating component layout."></add>
    <add key="DELETECOMPONENTLAYOUTFAILED" value="Some problem while deleting component layout."></add>
    <!--End ComponentLayout-->
    <!--Page Component-->
    <add key="GETPAGECOMPONENTFAILED" value="No page component found."></add>
    <add key="ADDPAGECOMPONENTFAILED" value="Some problem while adding page component."></add>
    <add key="UPDATEPAGECOMPONENTFAILED" value="Some problem while updating page component."></add>
    <add key="DELETEPAGECOMPONENTFAILED" value="Some problem while deleting page component."></add>
    <!--End Page Component-->
    <!--Page Component-->
    <add key="GETCONTENTDATAFAILED" value="No content data found."></add>
    <add key="ADDCONTENTDATATFAILED" value="Some problem while adding content data."></add>
    <add key="UPDATECONTENTDATAFAILED" value="Some problem while updating content data."></add>
    <add key="DELETECONTENTDATAFAILED" value="Some problem while deleting content data."></add>
    <!--End Page Component-->
    <!--Gallery-->
    <add key="GETGALLERYFAILED" value="No Gallery found."></add>
    <!--End Gallery-->
    <!--SHARE BOOK-->
    <add key="SHAREDBOOKFAILED" value="Some problem while sharing book."></add>
    <!--End SHARE BOOK-->
    <!--Book Print-->
    <add key="BOOKPRINTSUCCESS" value="Book printed successfully."></add>
    <add key="BOOKPRINTFAILED" value="Some problem while printing book."></add>
    <!--End Book Print-->
  
    <add key="BOOKCHAPTERFAILED" value="BOOKCHAPTERFAILED"></add>
    <add key="DELETECHAPTERFAILED" value="DELETECHAPTERFAILED"></add>
    <add key="GETBOOKCHAPTERFAILED" value="GETBOOKCHAPTERFAILED"></add>
    <add key="POSTBOOKCHAPTERFAILED" value="POSTBOOKCHAPTERFAILED"></add>
    <add key="DELETECHAPTERFAILED" value="DELETECHAPTERFAILED"></add>
  <!--Book Settings -->
    <add key="BOOKSETTINGSFOUNDFAIL" value="Some problem while retrieving book settings."></add>
    <add key="ADDBOOKSETTINGSFAILED" value="Some problem while inserting book settings."></add>
    <add key="UPDATEBOOKSETTINGSFAILED" value="Some problem while updating book settings."></add>
    <add key="DELETEBOOKSETTINGSFAILED" value="Some problem while removing book settings."></add>
   <!-- End Book Settings --> 
   <!--Page Settings -->
    <add key="PAGESETTINGSFOUNDFAIL" value="Some problem while retrieving page settings."></add>
    <add key="ADDPAGESETTINGSFAILED" value="Some problem while inserting page settings."></add>
    <add key="UPDATEPAGESETTINGSFAILED" value="Some problem while updating page settings."></add>
    <add key="DELETEPAGESETTINGSFAILED" value="Some problem while removing page settings."></add>
   <!-- End Page Settings -->
    <!--Page Settings -->
    <add key="BLOCKSETTINGSFOUNDFAIL" value="Some problem while retrieving block settings."></add>
    <add key="ADDBLOCKSETTINGSFAILED" value="Some problem while inserting block settings."></add>
    <add key="UPDATEBLOCKSETTINGSFAILED" value="Some problem while updating block settings."></add>
    <add key="DELETEBLOCKSETTINGSFAILED" value="Some problem while removing block settings."></add>
    
    <!-- End Page Settings -->
    
    <!--Dynamic Sign up -->
    <add key="DYNAMICSIGNUPFAIL" value="Some problem while retrieving Dynamic signup settings."></add>
    <add key="ADDDYNAMICSIGNUPFAILED" value="Some problem while inserting the dynamic signup settings."></add>
    <add key="UPDATEDYNAMICSIGNUPFAILED" value="Some problem while updating the dynamic signup settings."></add>
    <!--Dynamic Sign up-->
    
    <!--Document Process-->
    <add key="GETIMAGEDETAILFAILED" value="Some problem while retriving the Images."></add>
    <add key="INSERTIMAGEDETAILFAILED" value="Some problem while inserting the Images."></add>
    <!--End Document Process-->
    
    <!--Book Setting-->
    <add key="UPLOADSETTINGIMAGEFAILED" value="Some problem while uploading the Images."></add>
    <!--End Book Setting-->

    <add key="FAILEDUPDATECHAT" value="Cannnot post chat on closed chat room !"></add>

  </MessageCodeConfiguration>
</configuration>